.ticTacToeWrapper {
  margin-top: 10px;
  text-align: center;
}

.gridWrapper {
  margin-top: 100px;
}

.gridRow {
  height: auto;
}

.winningGameWrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.restartGameButton {
  color: $light-orange;
  background: $light-red;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.button {
  background-color: $green;
  color:  $light-orange;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
  margin: 4px 2px;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  cursor: pointer;
  border: none;

  &.hide {
   color: transparent;
  }

  &:hover {
    background-color: lighten($green, 5%);
  }

  @media screen and (max-width: 352px) {
    width: 80px;
    height: 80px;
    font-size: 30px;
    border-radius: 8px;
    padding: 5px 2px;
    padding-bottom: 2px;
  }

  @media screen and (max-width: 291px) {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    padding: 1px 1px;
  }
}
