html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: $light-orange;
  background-color: $pink;
}

#root {
  min-height: 100%;
  position: relative;
}

nav {
  padding: 20px;
  background: $gray-light;
  margin-bottom: 40px;
}

.main {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 200px;
}

button:focus {
  outline:0;
}


.active {
  color: $blue;
}
